@model WeSimMobifone.Models.Thuebao

@{
    ViewData["Title"] = "Edit";
}

<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header">
                    <h3>Sửa Thuê Bao</h3>
                </div><!-- /.box-header -->
                <form role="form" asp-action="Edit" method="post">
                    <div class="box-body">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="MaTb" />
                        <div class="form-group">
                            <label asp-for="SoThueBao" class="control-label"></label>
                            <input asp-for="SoThueBao" class="form-control" />
                            <span asp-validation-for="SoThueBao" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="PhiHoaMang" class="control-label"></label>
                            <input asp-for="PhiHoaMang" class="form-control" />
                            <span asp-validation-for="PhiHoaMang" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="MaDm" class="control-label"></label>
                            <select asp-for="MaDm" class="form-control" asp-items="ViewBag.MaDm"></select>
                            <span asp-validation-for="MaDm" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="MaLtb" class="control-label"></label>
                            <select asp-for="MaLtb" class="form-control" asp-items="ViewBag.MaLtb"></select>
                            <span asp-validation-for="MaLtb" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="LoaiSo" class="control-label"></label>
                            <select asp-for="LoaiSo" class="form-control">
                                <option>Trả trước</option>
                                <option>Trả sau</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label asp-for="DiaDiemHm" class="control-label"></label>
                            <select asp-for="DiaDiemHm" class="form-control">
                                <option>Toàn quốc</option>
                                <option>TP HCM</option>
                                <option>Hà Nội</option>
                            </select>
                            <span asp-validation-for="DiaDiemHm" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-primary" />
                        </div>
                    </div>
                </form>
            </div><!-- /.box -->
        </div>
    </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
