@{
    ViewData["Title"] = "Đơn hàng";
}


    <div class="container-xxl py-5  hero-header mb-5" style="background-color: #007AFE;">
        <div class="container my-5 py-5 px-lg-5">
             <div class="row g-5 py-5">
                  <div class="col-12 text-center m-4">
                       <h1 class="text-white animated zoomIn">Đơn hàng đã đặt</h1>
                       <hr class="bg-white mx-auto mt-0" style="width: 90px;">
                       <nav aria-label="breadcrumb">
                            <ol class="breadcrumb justify-content-center">
                               <li class="breadcrumb-item"><a class="text-white" asp-controller="Homes" asp-action="Index">Trang Chủ</a></li>
                               <li class="breadcrumb-item text-white "><a aria-current="page" asp-controller="Admin" asp-action="DonHang">đơn hàng</a></li>
                            </ol>
                       </nav>
                  </div>
             </div>
        </div>
     </div>
</div>
<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container px-lg-5 text-center">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <i class="bi bi-cart-check display-1 text-primary"></i>
                <h2>Đặt hàng thành công</h2>
                <h4 class="mb-4">Đơn hàng của bạn đang được xét duyệt</h1>
                <p class="mb-4">Bạn có thể theo dỏi đơn hàng của mình tại mục lịch sử đơn hàng</p>
                <a class="btn btn-primary rounded-pill py-3 px-5" asp-action="Index">Trang chủ</a>
            </div>
        </div>
    </div>
</div>