@{
    ViewData["Title"] = "Giới Thiệu";
}
<div class="container-xxl py-5  hero-header mb-5" style="background-color: #007AFE;">
    <div class="container my-5 py-5 px-lg-5">
        <div class="row g-5 py-5">
            <div class="col-12 text-center">
                <h1 class="text-white animated zoomIn">Giới Thiệu</h1>
                <hr class="bg-white mx-auto mt-0" style="width: 90px;">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center">
                        <li class="breadcrumb-item"><a class="text-white" asp-controller="Homes" asp-action="Index">Trang Chủ</a></li>
                        <li class="breadcrumb-item"><a class="text-white" href="#"></a></li>
                        <li class="breadcrumb-item text-white active" aria-current="page">Giới Tiệu</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
</div>
<!-- Navbar & Hero End -->
<!-- Full Screen Search Start -->

<!-- Full Screen Search End -->


<div class="container-xxl py-5">
    <div class="container px-lg-5">
        <div class="row g-5">
            <div class="col-lg-12 wow fadeInUp" data-wow-delay="0.1s">
                <div class="section-title position-relative mb-4 pb-2">
                    <h6 class="position-relative text-primary ps-4">Giới Thiệu</h6>
                    <h2 class="mt-2">Lịch sử hình thành MOBIFONE</h2>
                </div>
                <p class="mb-4" style="text-indent: 40px;">Được thành lập ngày 16/04/1993 với tên gọi ban đầu là Công ty thông tin di động. Ngày 01/12/2014, Công ty được chuyển đổi thành Tổng công ty Viễn thông MobiFone, trực thuộc Bộ Thông tin và Truyền thông, kinh doanh trong các lĩnh vực: dịch vụ viễn thông truyền thống, VAS, Data, Internet & truyền hình IPTV/cable TV, sản phẩm khách hàng doanh nghiệp, dịch vụ công nghệ thông tin, bán lẻ và phân phối và đầu tư nước ngoài.</p>
                <p class="mb-4" style="text-indent: 40px;">Tại Việt Nam, MobiFone là một trong ba mạng di động lớn nhất với hơn 30% thị phần. Chúng tôi cũng là nhà cung cấp mạng thông tin di động đầu tiên và duy nhất tại Việt Nam được bình chọn là thương hiệu được khách hàng yêu thích trong 6 năm liền.</p>
                <p class="md-4" style="text-indent: 40px;">Hiện nay, MobiFone có gần 50 triệu thuê bao với gần 30.000 trạm 2G và 20.000 trạm 3G. Tổng doanh thu năm 2017 của MobiFone đạt xấp xỉ 2 tỷ đô la Mỹ.</p>
                <div class="row g-3">
                    <div class="col-sm-12">
                        <h6 class="mb-3"><i class="fa fa-check text-primary me-2"></i>1993: Thành lập Công ty Thông tin di động. Giám đốc công ty Ông Đinh Văn Phước</h6>
                        <h6 class="mb-3"><i class="fa fa-check text-primary me-2"></i>1994: Thành lập Trung tâm Thông tin di động Khu vực I & II</h6>
                        <h6 class="mb-3">
                            <i class="fa fa-check text-primary me-2"></i>1995: Công ty Thông tin di động ký Hợp đồng hợp tác kinh doanh (BCC) với Tập đoàn Kinnevik/Comvik (Thụy Điển)
                            Thành lập Trung tâm Thông tin di động Khu vực III
                        </h6>
                        <h6 class="mb-3">
                            <i class="fa fa-check text-primary me-2"></i>2005: Công ty Thông tin di động ký thanh lý Hợp đồng hợp tác kinh doanh (BCC) với Tập đoàn Kinnevik/Comvik.
                            Nhà nước và Bộ Bưu chính Viễn thông (nay là Bộ Thông tin và Truyền thông) có quyết định chính thức về việc cổ phần hoá Công ty Thông tin di động.
                            Ông Lê Ngọc Minh lên làm Giám đốc Công ty Thông tin di động thay Ông Đinh Văn Phước (về nghỉ hưu)
                        </h6>
                        <h6 class="md-3"><i class="fa fa-check text-primary me-2"></i>2006: Thành lập Trung tâm thông tin di động Khu vực IV</h6>
                    </div>
                    <div class="col-sm-12">
                        <h6 class="mb-3">
                            <i class="fa fa-check text-primary me-2"></i>
                                2008: Thành lập Trung tâm thông tin di động Khu vực V. Kỷ niệm 15 năm thành lập Công ty thông tin di động.
                                Thành lập Trung tâm Dịch vụ Giá trị Gia tăng.
                                Tính đến tháng 04/2008, MobiFone đang chiếm lĩnh vị trí số 1 về thị phần thuê bao di động tại Việt Nam.
                        </h6>
                        <h6 class="mb-3">
                            <i class="fa fa-check text-primary me-2"></i>2009: Nhận giải Mạng di động xuất sắc nhất năm 2008 do Bộ Thông tin và Truyền thông trao tặng; VMS – MobiFone chính thức cung cấp dịch vụ 3G; Thành lập Trung tâm Tính cước và Thanh khoản.</i>
                        </h6>
                        <h6 class="md-3">
                            <i class="fa fa-check text-primary me-2"></i>
                            2010: Chuyển đổi thành Công ty TNHH 1 thành viên do Nhà nước làm chủ sở hữu.
                        </h6>
                        <h6 class="md-3">
                            <i class="fa fa-check text-primary me-2"></i>
                            2013: Kỷ niệm 20 năm thành lập Công ty Thông tin di động và đón nhận Huân chương Độc lập Hạng Ba
                        </h6>
                    </div>
                </div>
                <p class="md-4" style="text-indent: 30px;">MobiFone là nhà cung cấp mạng thông tin di động đầu tiên và duy nhất tại Việt Nam (2005-2008) được khách hàng yêu mến, bình chọn cho giải thưởng mạng thông tin di động tốt nhất trong năm tại Lễ trao giải Vietnam Mobile Awards do tạp chí Echip Mobile tổ chức. Đặc biệt trong năm 2009, MobiFone vinh dự nhận giải thưởng Mạng di động xuất sắc nhất năm 2008 do Bộ thông tin và Truyền thông Việt nam trao tặng.</p>
                <div class="row g-3">
                    <h6 class="md-3">
                        2024:
                    </h6>
                    <h6 class="md-3">
                        <i class="fa fa-check text-primary me-2"></i>
                        Ngày 26/06: Ông Mai Văn Bình được bổ nhiệm phụ trách chức vụ Chủ tịch Công ty Thông tin di động.
                    </h6>
                    <h6 class="md-3">
                        <i class="fa fa-check text-primary me-2"></i>
                        Ngày 10/07: Bàn giao quyền đại diện chủ sở hữu Nhà nước tại Công ty VMS từ Tập đoàn VNPT về Bộ TT&TT.
                    </h6>
                    <h6 class="md-3">
                        <i class="fa fa-check text-primary me-2"></i>
                        Ngày 13/08: Ông Lê Nam Trà được bổ nhiệm chức vụ Tổng Giám đốc Công ty Thông tin di động.
                    </h6>
                    <h6 class="md-3">
                        <i class="fa fa-check text-primary me-2"></i>
                        Ngày 01/12: Nhận quyết định thành lập Tổng công ty Viễn Thông MobiFone trên cơ sở tổ chức lại Công ty TNHH một thành viên Thông tin di động.
                    </h6>
                    <h6 class="md-3">
                        2015:
                    </h6>
                    <h6 class="md-3">
                        <i class="fa fa-check text-primary me-2"></i>
                        Ngày 21/04: Ông Lê Nam Trà được bổ nhiệm chức vụ Chủ tịch Hội đồng thành viên. Ông Cao Duy Hải được bổ nhiệm chức vụ Tổng Giám đốc Tổng công ty Viễn thông MobiFone.
                    </h6>
                    <h6 class="md-3">
                        2017:
                    </h6>
                    <h6 class="md-3">
                        <i class="fa fa-check text-primary me-2"></i>
                        Ngày 15/08: Ông Nguyễn Mạnh Thắng được bổ nhiệm giữ chức vụ Chủ tịch Hội đồng thành viên Tổng công ty Viễn thông MobiFone.
                    </h6>
                    <h6 class="md-3">
                        2018:
                    </h6>
                    <h6 class="md-3">
                        <i class="fa fa-check text-primary me-2"></i>
                        Ngày 22/08: Ông Nguyễn Đăng Nguyên được giao nhiệm vụ Phụ trách chức vụ Tổng giám đốc Tổng công ty Viễn thông MobiFone.
                    </h6>
                </div>
                <div class="d-flex align-items-center mt-4">
                    <a class="btn btn-primary rounded-pill px-4 me-3" href="">Read More</a>
                    <a class="btn btn-outline-primary btn-square me-3" href=""><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-outline-primary btn-square me-3" href=""><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-outline-primary btn-square me-3" href=""><i class="fab fa-instagram"></i></a>
                    <a class="btn btn-outline-primary btn-square" href=""><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>

