@{
    ViewData["Title"] = "số lượng đăng ký đủ";
}


<div class="container-xxl py-5  hero-header mb-5" style="background-color: #007AFE;">
    <div class="container my-5 py-5 px-lg-5">
        <div class="row g-5 py-5">
            <div class="col-12 text-center m-4">
                <h1 class="text-white animated zoomIn">Thông báo</h1>
                <hr class="bg-white mx-auto mt-0" style="width: 90px;">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center">
                        <li class="breadcrumb-item"><a class="text-white" asp-controller="Homes" asp-action="Index">Trang Chủ</a></li>
                        <li class="breadcrumb-item text-white active"><a aria-current="page" asp-controller="Admin" asp-action="DonHang">đơn hàng</a></li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
</div>
<div class="container-xxl py-5">
    <div class="container px-lg-5">
        <div class="col-lg-12 text-center">
            <h3 class="text-dark ">Số Thuê bao đăng ký đã đủ, không thể đăng ký thêm !</h3>
            <h4 class="text-dark ">Xin vui lòng đến chi nhánh gần nhất để được hỗ trợ .</h4>
            <h5 class="text-dark ">Xin cản  ơn.</h5>
        </div>
    </div>
</div>
