@{
    @model WeSimMobifone.Models.Khachhang
    ViewData["Title"] = "Đăng Ký Tài Khoản";
}
<br />
<br />
<br />
<br />
<br />
<br />
<div class="container-xxl py-5">
    <div class="container px-lg-5">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4  card h-100 border-primary shadow">
                <h3 class="text-primary text-center m-3"> Đăng Ký Tài Khoản </h3>
                <form asp-action="Register">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group my-3 text-primary">
                        <label asp-for="Ten" class="control-label"></label>
                        <input asp-for="Ten" class="form-control" required />
                        <span asp-validation-for="Ten" class="text-danger"></span>
                    </div>
                    <div class="form-group my-3 text-primary">
                        <label asp-for="DienThoai" class="control-label"></label>
                        <input asp-for="DienThoai" class="form-control" required />
                        <span asp-validation-for="DienThoai" class="text-danger"></span>
                    </div>
                    <div class="form-group my-3 text-primary">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" required />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group my-3 text-primary">
                        <label asp-for="MatKhau" class="control-label"></label>
                        <input name="MatKhau" class="form-control" required />
                        <span asp-validation-for="MatKhau" class="text-danger"></span>
                    </div>
                    <div class="form-group my-3"></div>
                    <div class="form-group my-3 d-grid">
                        <input type="submit" value="Đăng Ký." class="btn btn-outline-primary btn-block" />
                    </div>
                </form>

                <div class="col-md-4"></div>
            </div>
        </div>
    </div>
</div>
