@model WeSimMobifone.Models.Nhanvien

@{
    ViewData["Title"] = "Create";
}

<section class="content">
    <div class="row">
        <div class="col-md-3"></div>
        <!-- left column -->
        <div class="col-md-6">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header">
                    <h3>Thêm nhân viên</h3>
                </div><!-- /.box-header -->
                <!-- form start -->
                <form role="form" asp-action="Create">
                    <div class="box-body">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Ten" class="control-label"></label>
                            <input asp-for="Ten" class="form-control" />
                            <span asp-validation-for="Ten" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="MaCv" class="control-label"></label>
                            <select asp-for="MaCv" class="form-control" asp-items="ViewBag.MaCv"></select>
                        </div>
                        <div class="form-group">
                            <label asp-for="DienThoai" class="control-label"></label>
                            <input asp-for="DienThoai" class="form-control" />
                            <span asp-validation-for="DienThoai" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Email" class="control-label"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="MatKhau" class="control-label"></label>
                            <input type="text" name="matkhau" class="form-control" />
                            <span asp-validation-for="MatKhau" class="text-danger"></span>
                        </div>
                    </div><!-- /.box-body -->
                    <div class="box-footer">
                        <input type="submit" value="Thêm" class="btn btn-primary" />
                        <a class="btn btn-danger" asp-action="Index">Hủy</a>
                    </div>
                </form>
            </div><!-- /.box -->
        </div>
        <div class="col-md-3"></div>
    </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
