@model WeSimMobifone.Models.Nhanvien

@{
    ViewData["Title"] = "Edit";
}
<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header">
                    <h3>Sửa Nhân Viên</h3>
                </div><!-- /.box-header -->
                <form role="form" asp-action="Edit" method="post">
                    <div class="box-body">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="MaNv" />
                        <div class="form-group">
                            <label asp-for="Ten" class="control-label"></label>
                            <input asp-for="Ten" class="form-control" />
                            <span asp-validation-for="Ten" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="MaCv" class="control-label"></label>
                            <select asp-for="MaCv" class="form-control" asp-items="ViewBag.MaCv"></select>
                            <span asp-validation-for="MaCv" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="DienThoai" class="control-label"></label>
                            <input asp-for="DienThoai" class="form-control" />
                            <span asp-validation-for="DienThoai" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Email" class="control-label"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="MatKhau" class="control-label"></label>
                            <input type="text" name="matkhau" class="form-control" />
                            <span asp-validation-for="MatKhau" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-primary" />
                        </div>
                    </div>
                </form>
            </div><!-- /.box -->
        </div>
    </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
